/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.02.2018, 11:03:47
    Author     : dazzer
*/

/*Оформление столбцов {*/
.id {
    width: 2%;
    text-align: center;
}

.name {
    text-align: left;
}

.unit {
    width: 10%;
    text-align: center;
}

.count {
    width: 15%;
    text-align: center;
}

.cost {
    width: 15%;
    text-align: center;
}

.login, .full-name, .type, .status {
    text-align: center;
}

.address {
    width: 250px;
    text-align: left;
}

.telephone {
    width: 185px;
    font-size: 12px;
    text-align: left;
}

.number {
    width: 70px;
    text-align: center; 
}

.table-fixedH-small .number {
    width: 7%;
}

.number-checkbox {
    width: 100px;
}

.date {
    width: 170px;
    text-align: center;
}
/*}*/

.table thead th {
    text-align: center;
}

.table tbody tr td {
    vertical-align: middle;
    /*padding-right: 30px;*/
}

.table tbody tr td input[type=checkbox] {
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}

.table tbody tr td ul{
    padding-left: 20px;
    margin: 0px;
}

.table tbody tr:last-child {
    border-bottom: 1px solid #ddd;
}

table input[type=radio], table input[type=checkbox]{
    display: none;
}

.table-fixedH {        
    overflow-y: scroll;
    height: 600px; 
    /*max-height: 600px;*/
    background-color: #BFFBD9;
}

.table-fixedH tr {
    background-color: #FFFFFF;
}

.table-fixedH-small thead tr:first-child {
    height: 51px;
}

.table-fixedH-small {
    height: 300px;
}

.table-footer tbody tr td {
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.modal-footer p {
    text-align: center;
    font-size: 17px;
}

.table .checked_row{
    background-color: #A8FF6E;
}

.table .checked_row:hover {
    background-color: #D1FFB2;
}

.coloring * {
    cursor: pointer;
}

.table.table-condensed>tbody>tr>td>span.footable-toggle {
    text-align: center;
    margin-right: 0px;
}

.btn-group-vertical button .glyphicon {
    position: absolute;
    margin-top: -7px;
    top: 50%;
    left: 10px;
}

button .text {
    margin-left: 19px;
}