/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.02.2018, 11:03:47
    Author     : dazzer
*/

/*.fixed-grup {
    position: fixed;
    top: 0;
    right: 0;
}*/

.table-fixedH {        
    overflow-y: scroll;
    min-height: 600px; 
    max-height: 600px;
    background-color: #BFFBD9;
}

.table-fixedH tr {
    background-color: #FFFFFF;
}

.table-fixedH tbody tr td{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.table-fixedH tbody tr td:first-child{
    position: relative;
    padding: 5px;
}

.table-fixedH tbody tr .radio, .table-fixedH tbody tr td .checkbox{
    padding: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.radio:after{
    float: none;
}

.table-fixedH tr .radio label, .table-fixedH tr .checkbox label{
    margin: 1px 1px;
    padding: 0px 4px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.table-fixedH tr .radio label ul {
    position: absolute;
}

.table-fixedH tbody tr td:first-child text{    
    margin: auto 0;
    margin-left: 17px;
    font-weight: bold;
}

.table-fixedH tr .radio label text, .table-fixedH tr .checkbox label text{
    margin: auto 0;
}

.table-fixedH tr .checkbox input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table-fixedH .form-control{
    height: auto;
}

.table-fixedH_small thead tr {
    height: 51px;
}

.table-fixedH_small {
    min-height: 300px;
    max-height: 300px;
}

.table-footer tbody tr td {
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.table-fixedH_small .radio {
    margin: 0px;
}

.table-fixedH_small .table-bordered {
    border: none;
}

.table-fixedH_small .table-bordered:first-child th {
    border-left: none;
}

.modal-footer p {
    text-align: center;
    font-size: 17px;
}